*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: scroll 1s ease-in-out;
    z-index: -1;
    background-image: url(Images/bg.avif);
    color: black;
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
}
body{
    padding-top: 70px;
}
.header{
    width: 100%;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1F2833;
    z-index: 1000;
}
.navbar a.sticky{
    background-color: #1F2833;
    z-index: 1000;
}
.navbar a:hover{
    color: #fa897e;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 1vh 2vh;
}
nav ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 3.5vh;
    position: relative;
    font-family: 'Outfit', sans-serif;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #fa897e;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10%;
    position: relative;
}
form{
    position: relative;
    top: 17%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}
input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}
.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}
form:hover,
form:valid{
    width: 400px;
    cursor: pointer;
}
form:hover input,
form:valid input{
    display: block;
}
form:hover .fa,
form:valid .fa{
    background: #07051a;
    color: white;
}
form a {
  display: none;
  position: absolute;
  top: 70px;
  bottom:0;
  left: 0;
  right: 0;
  font-size: 20px;
  color: white;
  text-align: center; 
  width: 100%;
}
form:valid a {
  display: block;
}
#submitbtn{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}
#ing{
    width: 70%;
    padding-right: 30px;
}
.fa-search {
    font-size: 1.2em; /* Adjust as needed */
    color: #07051a; /* Icon color */
}
.loading-spinner {
    display: none;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#result{
    top: 10%;
    position: relative;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
#container{
    content:'';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.recipe{
    margin-bottom: 10px;
}
.expandBtn{
    font-size: 0.75em;
    color: black;
    text-decoration: none;
    padding: 1vh;
    display: inline-block;
    border-radius:1.5vh;
    transition: all 0.3s; 
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    cursor: pointer;
}
.expandBtn:hover{
    background-color: #6ce7c0;
    color: black;
    transform: scale(1.1);
}
::-webkit-scrollbar{
    display: none;
}
.log{
    font-size: 1em;
    color: black;
    text-decoration: none;
    padding: 1.1vh;
    margin-right: 2vh;
    display: inline-block;
    border-radius:1.5vh;
    transition: all 0.3s; 
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    cursor: pointer;
  }
  .log:hover{
    background-color: #efb755;
    color: black;
    transform: scale(1.1);
  }