* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

body {
  /* background-image: url(/assets/back5.jpg); */
  /* background-color:#3bccff; */
  background-image: url("../Images/bg.avif");
  background-repeat: no-repeat;
  background-size: cover;
  /* Contain the image within the viewport */
  background-attachment: fixed;
  background-position: 100% 100%;
  /* Center the background image */
  overflow-x: hidden;
}

#container4 {
  margin-top: 100px;
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  color: white;
  padding: 10px;
}

.box {
  text-align: center;
  margin: 2vh;
  padding: 2vh;
  border: 0.1vh white;
  border-radius: 8px;
  width: 400px;
  height: 300px;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}

.box:hover {
  transform: scale(1.1);
  box-shadow: 0px 3px 12px 0px #090909;
  border: 1px solid transparent;
  cursor: pointer;
}

#firstbox {
  background-image: url(../STRESS/stressimg/nachos.jpg);
  background-size: 100%;
  /* margin-right: 20px; */
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

#firstbox .focus-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(500px);
  /* Adjust the blur amount as needed */
  transition: filter 0.3s;
}

#firstbox:hover {
  transition: ease-in-out;
  transition-duration: 0.7s;
}

#firstbox:hover .focus-content {
  filter: blur(0);
}

#firstbox:hover {
  background-color: rgba(0, 0, 0, 0.504);
  /* Adjust the alpha value (last parameter) to control transparency */
}

#secondbox {
  background-image: url(../STRESS/stressimg/cinamon.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

#secondbox .focus-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(500px);
  /* Adjust the blur amount as needed */
  transition: filter 0.3s;
}

#secondbox:hover .focus-content {
  filter: blur(0);
}

#secondbox:hover {
  transition: ease-in-out;
  transition-duration: 0.7s;
}

#secondbox:hover {
  background-color: rgba(121, 121, 121, 0.504);
  /* Adjust the alpha value (last parameter) to control transparency */
}

#thirdbox {
  background-image: url(../STRESS/stressimg/alupakora.jpg);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

#thirdbox .focus-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(500px);
  /* Adjust the blur amount as needed */
  transition: filter 0.3s;
}

#thirdbox:hover .focus-content {
  filter: blur(0);
}

#thirdbox:hover {
  transition: ease-in-out;
  transition-duration: 0.7s;
}

#thirdbox:hover {
  background-color: rgba(121, 121, 121, 0.504);
  /* Adjust the alpha value (last parameter) to control transparency */
}

#fourthbox {
  background-image: url(../STRESS/stressimg/alupakora.jpg);
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

#fourthbox .focus-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(500px);
  /* Adjust the blur amount as needed */
  transition: filter 0.3s;
}

#fourthbox:hover .focus-content {
  filter: blur(0);
}

#fourthbox:hover {
  transition: ease-in-out;
  transition-duration: 0.7s;
}

#fourthbox:hover {
  background-color: rgba(121, 121, 121, 0.504);
  /* Adjust the alpha value (last parameter) to control transparency */
}

#fifthbox {
  background-image: url(../STRESS/stressimg/paneerroll.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

#fifthbox .focus-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(500px);
  /* Adjust the blur amount as needed */
  transition: filter 0.3s;
}

#fifthbox:hover .focus-content {
  filter: blur(0);
}

#fifthbox:hover {
  transition: ease-in-out;
  transition-duration: 0.7s;
}

#fifthbox:hover {
  background-color: rgba(121, 121, 121, 0.504);
  /* Adjust the alpha value (last parameter) to control transparency */
}

#sixthbox {
  background-image: url(../onepot/assets/Lasagna.jpeg);
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

#sixthbox .focus-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(500px);
  /* Adjust the blur amount as needed */
  transition: filter 0.3s;
}

#sixthbox:hover .focus-content {
  filter: blur(0);
}

.hovertext {
  color: black;
  font-size: 2em;
  font-weight: 600;
  text-decoration: none;
}

.focus-content a {
  text-decoration: none;
  color: white;
}

.header {
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1F2833;
  z-index: 1000;
}

.navbar a.sticky {
  background-color: #1F2833;
  z-index: 1000;
}

.navbar a:hover {
  color: #fa897e;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 1vh 2vh;
}

nav ul li a {
  color: aliceblue;
  text-decoration: none;
  font-size: 3.5vh;
  position: relative;
  font-family: 'Outfit', sans-serif;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: #fa897e;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.log {
  font-size: 1em;
  color: black;
  text-decoration: none;
  padding: 1.1vh;
  margin-right: 2vh;
  display: inline-block;
  border-radius: 1.5vh;
  transition: all 0.3s;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  cursor: pointer;
}

.log:hover {
  background-color: #efb755;
  color: black;
  transform: scale(1.1);
}

.header {
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1F2833;
  z-index: 1000;
}

.navbar a.sticky {
  background-color: #1F2833;
  z-index: 1000;
}

.navbar a:hover {
  color: #fa897e;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 1vh 2vh;
}

nav ul li a {
  color: aliceblue;
  text-decoration: none;
  font-size: 3.5vh;
  position: relative;
  font-family: 'Outfit', sans-serif;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: #fa897e;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}